<% if user_signed_in? %>
  <%= form_with(url: search_path, local:true, method: :get,class:"search-form") do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.select :range, options_for_select([["User"],["Book"]]) %>
    <%= f.select :search, options_for_select([["完全一致","perfect_match"],["前方一致","forward_match"],["後方一致","backward_match"],["部分一致","partial_match"]]) %>    
    <%= f.submit "検索", class:"search-btn" %>
  <% end %>
<% end %>
<br>


<% if @range == "User" %>
<h4><%= "Users search for  #{@keyword}" %></h4>
<table class='table table-hover table-inverse'>
<thead>  
  <tr>
    <th></th>
    <th>name</th>
    <th colspan="3"></th>
  </tr>
</thead>

<tbody>    
  <% @users.each do |user| %>
  <tr>
    <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
    <td><%= user.name %></td>
  </tr>
  <% end %>
</tbody>
</table>

<% else %>
<h4><%= "Books search for #{@keyword}" %></h4>

<table class='table table-hover table-inverse'>
<thead> 
  <tr>
    <th></th>
    <th>title</th>
    <th>opinion</th>
    <th colspan="3"></th>
  </tr>
</thead>

<tbody>
  <% @books.each do |book| %>
      <tr>
        <td><%= attachment_image_tag(book.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
      </tr>
  <% end %>
</tbody>
</table>

<% end %>